@use "../base/variables" as variable;
@use "sass:map";
@use "../utilities/maps" as maps;

.educacion-container {
  padding-top: variable.$padding-top;
  grid-template-columns: 300px 1fr;
  align-items: start;
  .educacion-wrapper {
    max-width: variable.$width-central;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;

    .educacion-div1 {
      h2 {
        margin-bottom: 1.5rem;
      }
    }

    .educacion-div2 {
      display: grid;
      gap: 2.5rem;

      > div {
        display: grid;
        grid-template-columns: 120px 1fr;
        gap: 1.5rem;

        padding-bottom: 1.5rem;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);

        p:first-child {
          font-weight: bold;
          opacity: 0.7;
        }

        h3 {
          margin-bottom: 0.5rem;
        }
      }
    }
  }
}
