@use "../base/variables" as variable;
@use "sass:map";
@use "../utilities/maps" as maps;

.footer {
  padding: 2rem 1rem;
  .footer-wrapper {
    max-width: variable.$width-central;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    p {
      opacity: 0.8;
      margin: 0;
    }
    .footer-redes {
      display: flex;
      gap: 1rem;

      a {
        font-size: 1.3rem;
        transition: color 0.2s ease, transform 0.2s ease;

        &:hover {
          transform: translateY(-2px);
        }
      }
    }
  }
}
