@use "../base/variables" as variable;
.sobremi-container {
  display: flex;
  align-items: center;
  padding: variable.$padding-general;
  padding-top: variable.$padding-top;
  .sobremi {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55vw;
    padding: 1rem;
  }
  .sobremi-div-img {
    width: 45vw;
    .sobremi-img {
      width: 100%;
    }
  }
}
