@use "../base/variables" as variable;
@use "../utilities/mixin";
.sobremi-container {
  display: flex;
  align-items: center;

  padding-top: variable.$padding-top;
  .sobremi {
    flex-direction: column;
    text-align: center;
    width: 55vw;
    padding: 1rem;
  }
  .sobremi-div-img {
    width: 45vw;
    .sobremi-img {
      width: 100%;
    }
  }
}
