@use "../base/variables" as variable;
@use "sass:map";
@use "../utilities/maps" as maps;
@use "../utilities/mixin";
.sobre-mi {
  padding: 5rem 0;
  display: flex;
  justify-content: center;

  &__container {
    padding-top: variable.$padding-top;
    display: flex;
    align-items: center;
    gap: 3rem;
    max-width: variable.$width-central;
    width: 100%;
  }

  &__texto {
    flex: 2;
    h2 {
      margin-bottom: 1.5rem;
    }

    p {
      margin-bottom: 1rem;
      line-height: 1.6;
    }
  }

  &__img {
    flex: 1;
    display: flex;
    justify-content: center;

    img {
      width: 300px;
      height: 300px;
      object-fit: cover;
      border: 1px solid map.get(maps.$colores, border-colors);
      border-radius: 0.5rem;
      box-shadow: 0 12px 30px variable.$shadow-box;
    }
  }
}
