$colores: (
  color-background: #1c1c1c,
  layout-color: #242424,
  cards-color: #2e2e2e,
  text-color: #e6e6e6,
  nav-background: #242424be,
  primary-color: #7cb342,
  secondary-color: #d4a373,
  border-colors: #444444,
);
