@use "../base/variables" as variable;
@use "sass:map";
@use "../utilities/maps.scss" as maps;
@use "../utilities/mixin";
.header-fixed {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: variable.$width-layout;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  background-color: map.get(maps.$colores, nav-background);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: 3px solid map.get(maps.$colores, border-colors);
  border-top: none;
  border-bottom: none;
}

.nav-container {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 100%;

  .header-inner {
    width: 100%;
    max-width: variable.$width-layout;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
  }

  .nav-img {
    width: 60px;
    height: auto;
    border-radius: 50%;
  }

  .nav-ul {
    display: flex;
    gap: 1.5rem;

    .nav-link {
      font-weight: 500;
      font-size: 1rem;
      color: map.get(maps.$colores, primary-color);

      &.active,
      &:hover {
        color: map.get(maps.$colores, secondary-color);
      }
      &:focus-visible {
        outline: 2px solid map.get(maps.$colores, secondary-color);
        outline-offset: 4px;
      }
    }
  }

  .navbar-toggler {
    position: absolute;
    right: 1rem;
    box-shadow: none !important;
    font-size: xx-large;
  }
}
