@use "../base/variables" as variable;
@use "sass:map";
@use "../utilities/maps.scss" as maps;
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  color: map.get(maps.$colores, second-color);
  .body-background {
    background-color: map.get(maps.$colores, color-background);
    height: 100%;
    width: 100%;
  }
}
