@media (max-width: 991px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header .hamburguesa {
    display: block;
    font-size: xx-large;
    cursor: pointer;
  }

  header .nav-container .menu {
    display: none;
  }
}

@media (min-width: 768px) {
  .contacto-grid {
    grid-template-columns: 1fr 1.2fr;
    align-items: start;
  }
}

@media (max-width: 767px) {
  .educacion-div2 > div {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 600px) {
  .footer-wrapper {
    flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .card-buttons {
    flex-direction: column;
  }
}
